<div class="main-pagecontainer">
    <div class="add-recipe-block">
        <h4>Рецепты</h4>
        <div class="addrecipe"> 
            <p style="color: #FFFFFF; font-weight: 600;">+ &nbsp; &nbsp; Добавить рецепт</p>
        </div>
    </div>

    <app-tag-list></app-tag-list>
    
    <div class="find-recipe-with-title-block">
        <h4>Поиск рецепта</h4>
        <div class="searchbar-button-hyperlinkbar-block">
            <div class="searchbar-button-block">
                <input style="width: 779px;" type="text" placeholder="Название блюда...">
                <button class="seachbutton">
                    <p style="color: #FFFFFF; font-weight: 600;">Поиск</p>
                </button>
            </div> 
            <div class="hyperlinkbar">
                <a>Мясо</a>
                <a>Деликатесы</a>
                <a>Пироги</a>
                <a>Рыба</a>
                <a>Пост</a>
                <a>Пасха2021</a>
            </div>
        </div>   
    </div>
</div>
