.add-recipe-block
{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.find-recipe-with-title-block
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

app-tag-list + .find-recipe-with-title-block
{
    margin-top: 50px;
}

.searchbar-button-block + .hyperlinkbar
{
    margin-top: 10px;
}