<form class="authorization-form">
    <div class="close-block">
        <img src="assets/images/close.png" (click)="onAuthClick()">
    </div>
    <h4>Войти</h4>
    <input class="fields-input" type="text" placeholder="Логин">
    <input class="fields-input" type="password" placeholder="Пароль">
    <div class="control-buttons">
        <button class="addrecipe">
            <p>Войти</p>
        </button>
        <button class="authorise" (click)="onAuthClick()">
            <p>Отмена</p>
        </button>
    </div>
    <a class="transition-hrev" (click)="onSignInClick()">У меня еще нет аккаунта</a>
</form>
