<div class="recipe-info-container">
    <div class="back-container">
        <div class="back-block" (click) = "btnClick()">
            <img src="assets/images/back.png">
            <p>Назад</p>
        </div>
    </div>

    <div class="recipe-title-block">
        <h5>{{recipe.name}}</h5>
        <div class="remove-edit-block">
            <button class="addrecipe">
                <p>Редактировать</p>
            </button>
        </div>
    </div>

    <div class="recipes-block" *ngIf="recipe !== undefined">
        <div class="list-recipes-block">
            <app-recipe [parentPageId]="pageId" [recipe]="recipe"></app-recipe>
        </div>
    </div>

    <div class="ingridients-steps-block">
        <div class="ingridients-block">
            <h3 class="ingridients-title">Ингридиенты</h3>
            <div class="ingridients-list-block" *ngIf="recipe !== undefined">    
                <div class="ingridients-list" *ngFor="let ingridient of recipe.ingridients">
                    <p class="list-title">{{ingridient.name}}</p>
                    <div class="description-list" *ngFor="let item of ingridient.descriptions">
                        <p>{{item}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="steps-block">
            <div class="steps-block" *ngFor="let step of recipe.steps">
                <div class="step-list">
                    <p class="list-title">{{step.name}}</p>
                    <p>{{step.description}}</p>
                </div>
            </div>
            <h4>Приятного Аппетита!</h4>
        </div>
    </div>
</div>