<div class="mainbox">
    <div class="back-block" [routerLink]="['/']" >
        <img src="assets/images/back.png">
        <p>Назад</p>
    </div>
    <div class="publish-block">
        <h5>Добавить новый рецепт</h5>
        <button class="addrecipe">
            <p style="color: #FFFFFF; font-weight: 600;">Опубликовать</p>
        </button>
    </div>
    <div class="general-information-block">
    
        <div class="photo-block">
            <div class="photo-frame">
                    <img src="assets/images/download.png">
                    <p style="font-size: 16px; color: #F29E1F; text-align: center;">Загрузите фото <br> готового блюда </p>
            </div>
        </div>
        <div class="fields-to-fill-block">
                <form>
                <input class="fields-input" type="text" placeholder="Название рецепта">
                <textarea class="fields-textarea" placeholder="Название рецепта"></textarea>
                <input class="fields-input" type="text" placeholder="Добавить теги">
            </form>
        </div>
        
    </div>
</div>
