<div class="add-recipe-container">
    <div class="back-container">
        <div class="back-block" (click)="returnBackPageClick()">
            <img src="assets/images/back.png">
            <p>Назад</p>
        </div>
    </div>
    <div class="publish-block">
        <h5>Добавить новый рецепт</h5>
        <button class="addrecipe">
            <p>Опубликовать</p>
        </button>
    </div>
    <div class="general-information-block">
        <div class="photo-block">
            <div class="photo-frame">
                    <img src="assets/images/download.png">
                    <p style="font-size: 16px; color: #F29E1F; text-align: center;">Загрузите фото <br> готового блюда </p>
            </div>
        </div>
        <form class="fields-to-fill-block">
                <input class="fields-input" type="text" placeholder="Название рецепта">
                <textarea class="fields-textarea" placeholder="Краткое описание рецепта (150 символов)"></textarea>
                <input class="fields-input" type="text" placeholder="Добавить теги">
                <div class="select-block">
                    <div class="cooking-time-portions-dish">
                        <select> 
                            <option disabled><p> Время готовки </p></option>
                        </select>
                        <p>Минут</p>
                    </div>
                    <div class="cooking-time-portions-dish">
                        <select> 
                            <option disabled>Порций в блюде</option>
                        </select>
                        <p>Персон</p>
                    </div>
                </div>
        </form>
    </div>
    <div class="ingredients-step-block">
        <div class="ingredients-block">
            <div class="ingredients-title">
                <h4>Ингридиенты</h4>
            </div>
            <div class="close-img">
                <img src="assets/images/close.png">
            </div>
            <form class="ingredients-info">
                <input class="fields-input" type="text" placeholder="Заголовок для ингридиентов">
                <textarea class="fields-textarea" placeholder="Список подуктов для категории"></textarea>
            </form>
            <button>
                <p>Добавить заголовок</p>
            </button>
        </div>
        <div class="step-block">
            <form class="step-form">
                <div class="step-title">
                   <h4>Шаг 1</h4>
                    <img src="assets/images/close.png">
                </div>
                <textarea class="fields-textarea" placeholder="Описание шага"></textarea>
            </form>
            <div class="step-addbutton">
                <button>
                    <p>Добавить заголовок</p>
                </button>
            </div>
        </div>
    </div>
    
</div>
