/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat'), url('assets/fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p
{
    font-family: 'Montserrat', sans-serif;
    margin-top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #4A525A;
}

h6
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    color: #25292D;
}

h5
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: #25292D;
}

h4
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #25292D;
}

.main-page-container
{
    display: flex;
    flex-direction: column;
    padding: 44px 120px;
}

.authorise
{
    flex-basis: 216px;
    background: inherit;
    border: 1px solid #FDB100;
    box-sizing: border-box;
    border-radius: 16px;
}

.authorise:hover
{
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, rgb(253, 211, 133), rgb(253, 211, 133));
}

.authorise p 
{
    color: #FDB100; 
    font-weight: 600;
}

.addrecipe
{
    width: 278px;
    background: #FDB100;
    border: 1px solid #FDB100;
    border-radius: 16px;
}

.addrecipe:hover
{
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, rgba(145, 150, 161, 0.7), rgba(145, 150, 161, 0.7));
}

.addrecipe p
{
    color: #FFFFFF; 
    font-weight: 600;
}

.seachbutton
{
    width: 152px;
    border: 1px solid #FDB100;
    background: #FDB100;
    border-radius: 16px;
}

.seachbutton:hover
{
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, rgba(145, 150, 161, 0.7), rgba(145, 150, 161, 0.7));
}

.searchbar-button-hyperlinkbar-block
{
    display: flex;
    flex-direction: column;
}

.searchbar-button-block
{
    display: flex;
}

.searchbar-button-block input
{
    text-indent: 32px;
    width: 716px;
    outline: none;
    background: #FFFFFF;
    border-style: hidden;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    border-radius: 16px;
}

.searchbar-button-block input::-webkit-input-placeholder { color: rgba(37, 41, 45, 0.5); }

.searchbar-button-block input::-moz-placeholder { color: rgba(37, 41, 45, 0.5); }

.hyperlinkbar
{
    display: flex;
}

.hyperlinkbar a
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    font-size: 16px;
    color: #808080;
}

.hyperlinkbar a + a
{
    margin-left: 20px;
}

.searchbar-button-block input + .seachbutton
{
    margin-left: 16px;
}

.searchbar-button-block + .hyperlinkbar
{
    margin-top: 24px;
}

.back-container
{
    display: flex; 
    justify-content: flex-start;
}

.back-block
{
    display: flex;
    align-items: center;
    margin-bottom: 11px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.back-block:hover
{
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, rgb(253, 211, 133), rgb(253, 211, 133));
}

.back-block p
{
    font-weight: 600;
    color: #FDB100;
    margin-top: 0px;
    margin-bottom: 0px;
}

.back-block img + p
{
    margin-left: 13px;
}

.fields-input
{
    text-indent: 32px;
    outline: none;
    width: 647px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    border-radius: 16px;
    border: 1px solid rgba(145, 150, 161, 0.4);
}

.fields-input::-webkit-input-placeholder { color: rgba(37, 41, 45, 0.5); }

.fields-input::-moz-placeholder { color: rgba(37, 41, 45, 0.5); }

.fields-textarea
{
    text-indent: 32px;
    outline: none;
    width: 647px;
    height: 117px;
    background: #FFFFFF;
    resize: none;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    border-radius: 16px;
    border: 1px solid rgba(145, 150, 161, 0.4);
    padding: 5px;
}

.fields-textarea::-webkit-input-placeholder { color: rgba(37, 41, 45, 0.5); }

.fields-textarea::-moz-placeholder { color: rgba(37, 41, 45, 0.5); }

.authorization-form
{
    width: 700px;
    background: #FFFFFF;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 24px;
    padding: 25px 27px;
    display: flex;
    flex-direction: column;
}

.authorization-form .close-block
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.authorization-form input
{
    flex-grow: 1;
}

.authorization-form h4 + input
{
    margin-top: 49px;
}

.authorization-form input + input
{
    margin-top: 20px;
}

.authorization-form .password-block
{
    display: flex;
    align-items: center;
}

.authorization-form .password-block input + input
{
    margin-left: 24px;
    margin-top: 0px;
}

.authorization-form input + .password-block
{
    margin-top: 20px;
}

.authorization-form input + .control-buttons
{
    margin-top: 30px;
}

.authorization-form .password-block + .control-buttons
{
    margin-top: 30px;
}

.authorization-form .control-buttons
{
    display: flex;
}

.authorization-form .addrecipe
{
    flex-basis: auto;
    flex: 1;
}

.authorization-form .authorise
{
    flex-basis: auto;
    flex: 1;
}

.authorization-form .addrecipe + .authorise
{
    margin-left: 22px;
}

.authorization-form .transition-hrev
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #FDB100;
}

.authorization-form .suggesting-text
{
    font-size: 12px;
    color: rgba(37, 41, 45, 0.3);
    margin-top: 0px;
    margin-bottom: 0px;
}

.authorization-form .suggesting-text + .control-buttons
{
    margin-top: 20px;
}

.authorization-form .control-buttons + .transition-hrev
{
    margin-top: 40px;
}

.recipes-block
{
    margin-top: 40px;
    margin-bottom: 108px;
}

.list-recipes-block
{
    display: flex;
    flex-direction: column;
}

.background-fon
{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-reg-form
{
    display: flex;
}

.close-button:hover
{
    background-image: radial-gradient(ellipse farthest-corner at 50% 50%, rgb(253, 211, 133), rgb(253, 211, 133));
}

.tags
{
    display: flex;
}

.tags-block
{
    display: flex;
    align-items: flex-start;
}

.tag-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #FFEFCC, #FFEFCC), #FFFCF7;
    border-radius: 5px;
    margin-right: 5px;
}

.tag-container p
{
    margin-left: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-right: 5px;
    font-size: 14px;
    color: #F29E1F;
    text-align: center;
}

.tag-container .close-img
{
    margin-right: 5px;
}