.recipe-block
{ 
    margin-top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 16px 72px rgba(34, 39, 47, 0.05);
    border-radius: 72px 24px 24px 0px;
    display: flex;
}

.recipe-img
{
    width: 430px;
    height: 430px;
    border-radius: 72px 0px;
}

.description-block
{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 30px 36px;
}

.likes-favotites-block
{
    display: flex;
    justify-content: flex-end;
}

.likes-or-favotites-button
{
    display: flex;
    align-items: center;
    border: 1px solid #FDB100;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 11px 26px;
}

.likes-or-favotites-button p
{
    font-weight: 600;
    color: #FDB100;
    margin-top: 0px;
    margin-bottom: 0px;
}

.likes-or-favotites-button img + p
{
    margin-left: 14px;
}

.likes-or-favotites-button + .likes-or-favotites-button
{
    margin-left: 15px;
}

.text-block
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 571px;;
}

.likes-favotites-block + .text-block
{
    margin-top: 34px;
}

.cooking-portions-button-block
{
    display: flex;
    justify-content: space-between;
}

.cooking-portions-block
{
    display: flex;
}

.cooking-portions-block p
{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
}

.cooking-or-portions-container
{
    display: flex;
    align-items: center;
}

.illustrate-information-block
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cooking-or-portions-container img + .illustrate-information-block
{
    margin-left: 20px;
}

.cooking-or-portions-container + .cooking-or-portions-container
{
    margin-left: 71px;
}

.cooking-portions-button-block .addrecipe
{
    width: 180px;
}

.text-block + .cooking-portions-button-block
{
    margin-top: 34px;
}
