<div class="recipe-block">
    <img class="recipe-img" src="{{recipe.photo}}">
    <div class="description-block">
        <div class="likes-favourites-block">
            <div class="likes-or-favourites-button">
                <img src="assets/images/star1.png">
                <p>{{recipe.favorites}}</p>
            </div>
            <div class="likes-or-favourites-button">
                <img src="assets/images/like3.png">
                <p>{{recipe.likes}}</p>
            </div>
        </div>
        <div class="text-block">
            <h4>{{recipe.name}}</h4>
            <div *ngIf="parentPageId == 4; then thenMainBlock else elseMainBlock"></div>
            <ng-template #thenMainBlock>
                <p>{{recipe.description}}</p>
            </ng-template>
            <ng-template #elseMainBlock>
                <p>{{(recipe.description.length>maxLength)? (recipe.description | slice:0:maxLength)+'...':(recipe.description)}}</p>
            </ng-template>
        </div>
        <div class="cooking-portions-button-block">
            <div class="cooking-portions-block">
                <div class="cooking-or-portions-container">
                    <img src="assets/images/clock2.png">
                    <div class="illustrate-information-block">
                        <p>Время приготовления:</p>
                        <p>{{recipe.cookingTime}} минут</p>
                    </div>
                </div>
                <div class="cooking-or-portions-container">
                    <img src="assets/images/peoples.png">
                    <div class="illustrate-information-block">
                        <p>Рецепт на:</p>
                        <p>{{recipe.peoples}} персон</p>
                    </div>
                </div>
            </div>
            <div *ngIf="parentPageId !== 4">
                <button class="addrecipe" [routerLink] = "['/recipeinfo', {'paramId': parentPageId}]" (click)="onPushDataInServiceClick()">
                    <p>Подробнее</p>
                </button>
            </div>
        </div>
    </div>
</div>