.page
{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.centered-container
{
  width: 1440px;
  background: #FEFEFB;
  flex-grow: 1;
  margin-left: auto;
  margin-right: auto;
}

.home-picture
{
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 0px 0px 0px 200px;
}

.fot-block
{
  background: #FBF9F4;
  display: flex;
  justify-content: center;
  min-width: 1440px;
}