
.center
{
  width: 1440px;
  margin: auto;
  background: #FEFEFB;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-fot-bar
{
  margin-top: auto;
}

.home-pic
{
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 0px 0px 0px 200px;
}