<div class="mainbox">
    <div class="box1">
    
        <h6>Готовь и делись рецептами</h6>

        <p>Никаких кулинарных книг и блокнотов! Храни все любимые рецепты в одном месте.</p>

        <div class="buttonbox1">
            <button class="button1">
               <p style="color: #FFFFFF;">Добавить рецепт</p>
            </button>

            <button class="button2">
              <p style="color: #FDB100;">Войти</p>
            </button>
        </div>

    </div>

    <div class="box2">

        <h5>Умная сортировка по тегам</h5>

        <p>Никаких кулинарных книг и блокнотов! Храни все любимые рецепты в одном месте.</p>

        <app-tag-list></app-tag-list>

    </div>

    <div class="box3">

        <h5>Поиск рецептов</h5>

        <p>Введите примерное название блюда, а мы по тегам найдем его</p>

        <app-find-recipe-form></app-find-recipe-form>

    </div>
    
</div>