<div class="main-page-container">
    <div *ngIf="isAuthorised">
        <div class="background-fon">
            <app-authorization class="auth-reg-form" (buttonAuthClick)="closeAuthForm()"
                (buttonRegClick)="closeAuthForm(); onRegFormClick()"></app-authorization>
        </div>
    </div>
    <div *ngIf="isRegistered">
        <div class="background-fon">
            <app-registration class="auth-reg-form" (buttonRegClick)="closeRegForm()"
                (buttonAuthClick)="closeRegForm(); onAuthFormClick()"></app-registration>
        </div>
    </div>

    <div class="addrecipe-authorise-block">
        <h6>Готовь и делись <br> рецептами</h6>
        <p>Никаких кулинарных книг и блокнотов! Храни все <br> любимые рецепты в одном месте.</p>
        <div class="addrecipe-authorise">
            <button class="addrecipe" [routerLink]="['/addnewrecipe', {'paramId': pageId}]">
                <p>+ &nbsp; &nbsp; Добавить рецепт</p>
            </button>
            <button class="authorise" (click)="onAuthFormClick()">
                <p>Войти</p>
            </button>
        </div>
    </div>

    <div class="sortingbytags-block">
        <h5>Умная сортировка по тегам</h5>
        <p>Добавляй рецепты и указывай наиболее популярные теги. Это позволит <br> быстро находить любые категории.</p>
        <app-tag-list (simpleEvent)="searchByTag('Простые')" (childEvent)="searchByTag('Детское')"
            (chiefEvent)="searchByTag('Шеф')" (partyEvent)="searchByTag('Праздник')" [pageId]="pageId"></app-tag-list>
    </div>

    <div class="day-recipe-block" *ngIf="recipe !== undefined">
        <img class="day-recipe-block-img" src="{{recipe.photo}}">
        <div class="recipe-info-block">
            <div class="likes-time-block">
                <img src="assets/images/like1.png">
                <p>{{recipe.likes}}</p>
                <img src="assets/images/clock1.png">
                <p>{{recipe.cookingTime}} минут</p>
            </div>
            <img class="day-recipe-img" src="assets/images/day-recipe.png">
            <h5>{{recipe.name}}</h5>
            <div *ngIf="recipe.description !== null">
                <p>{{(recipe.description.length>maxLength)? (recipe.description |
                    slice:0:maxLength)+'...':(recipe.description)}}</p>
            </div>
            <div class="about-button-block">
                <button class="addrecipe" [routerLink]="['/recipeinfo', {'paramId': pageId}]"
                    (click)="onPushDataInServiceClick()">
                    <p>Подробнее</p>
                </button>
            </div>
        </div>
    </div>

    <div class="findrecipe-title-block">
        <h5>Поиск рецептов</h5>
        <p>Введите примерное название блюда, а мы по тегам найдем его</p>
    </div>

    <div class="findrecipe-block">
        <div class="searchbar-button-hyperlinkbar-block">
            <form [formGroup]="searchForm" class="searchbar-button-block">
                <input formControlName="name" type="text" placeholder="Название блюда...">
                <button class="seachbutton" (click)="onSubmit()">
                    <p>Поиск</p>
                </button>
            </form>
            <div class="hyperlinkbar">
                <div (click)="searchByTag('Мясо')" class="back-block">
                    <a>Мясо</a>
                </div>
                <div (click)="searchByTag('Деликатесы')" class="back-block">
                    <a>Деликатесы</a>
                </div>
                <div (click)="searchByTag('Пироги')" class="back-block">
                    <a>Пироги</a>
                </div>
                <div (click)="searchByTag('Рыба')" class="back-block">
                    <a>Рыба</a>
                </div>
            </div>
        </div>
    </div>

    <div class="recipes-block" *ngIf="recipes !== undefined">
        <div class="list-recipes-block" *ngFor="let recipe of recipes">
            <app-recipe [parentPageId]="pageId" [recipe]="recipe"></app-recipe>
        </div>
    </div>

</div>