/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

@font-face {
    font-family: 'Montserrat';
    src: local('Montserrat Hairline'), local('Montserrat-Hairline'), url('/src/assets/fonts/montserrathairline.woff2') format('woff2'), url('/src/assets/fonts/montserrat.woff') format('woff'), url('/src/assets/fonts/montserrat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body 
{
    font-family: 'Montserrat', sans-serif;
}

p
{
    margin-top: 16px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #4A525A;
}

h6
{
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    color: #25292D;
}

h5
{
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    color: #25292D;
}

h4
{
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #25292D;
}

.main-pagecontainer
{
    display: flex;
    flex-direction: column;
    padding: 44px 120px;
}

.addrecipe
{
    flex-basis: 278px;
    background: #FDB100;
    border: 1px solid #FDB100;
    border-radius: 16px;
}

.addrecipe p
{
    color: #FFFFFF; 
    font-weight: 600;
}

.seachbutton
{
    width: 152px;
    border: 1px solid #FDB100;
    background: #FDB100;
    border-radius: 16px;
}

.searchbar-button-hyperlinkbar-block
{
    display: flex;
    flex-direction: column;
}

.searchbar-button-block
{
    display: flex;
}

.searchbar-button-block input
{
    text-indent: 32px;
    width: 716px;
    outline: none;
    background: #FFFFFF;
    border-style: hidden;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    border-radius: 16px;
}

.searchbar-button-block input::-webkit-input-placeholder { color: rgba(37, 41, 45, 0.5); }

.searchbar-button-block input::-moz-placeholder { color: rgba(37, 41, 45, 0.5); }

.hyperlinkbar
{
    display: flex;
}

.hyperlinkbar a
{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #808080;
}

.hyperlinkbar a + a
{
    margin-left: 20px;
}

.searchbar-button-block input + .seachbutton
{
    margin-left: 16px;
}

.searchbar-button-block + .hyperlinkbar
{
    margin-top: 24px;
}

.back-container
{
    display: flex; 
    justify-content: flex-start;
}

.back-block
{
    display: flex;
    align-items: center;
}

.back-block p
{
    font-weight: 600;
    color: #FDB100;
}

.back-block img + p
{
    margin-left: 13px;
}

.fields-input
{
    text-indent: 32px;
    outline: none;
    width: 647px;
    height: 50px;
    background: #FFFFFF;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    border-radius: 16px;
    border: 1px solid rgba(145, 150, 161, 0.4);
}

.fields-input::-webkit-input-placeholder { color: rgba(37, 41, 45, 0.5); }

.fields-input::-moz-placeholder { color: rgba(37, 41, 45, 0.5); }

.fields-textarea
{
    text-indent: 32px;
    outline: none;
    width: 647px;
    height: 117px;
    background: #FFFFFF;
    resize: none;
    box-shadow: 0px 8px 42px rgba(34, 39, 47, 0.04);
    border-radius: 16px;
    border: 1px solid rgba(145, 150, 161, 0.4);
    padding: 5px;
}

.fields-textarea::-webkit-input-placeholder { color: rgba(37, 41, 45, 0.5); }

.fields-textarea::-moz-placeholder { color: rgba(37, 41, 45, 0.5); }