.header
{
    padding: 44px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-panel
{
    display: flex;
    align-items: center;
}

h1
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    color: #FDB100;
}

.menu
{
    display: flex;
}

h1 + .menu
{
    margin-left: 80px;
}

.nav-panel a
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #808080;
}

.nav-panel a + a
{
    margin-left: 40px;
}

.authorise-panel
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.authorise
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color: #FDB100;
}

img + a
{
    margin-left: 14px;
}