<div class="header">
    <div class="nav-panel">
        <h1>Recipes</h1>
        <div class="menu">
            <div *ngIf="pageId == 1; then thenMainBlock else elseMainBlock"></div>
                <ng-template #thenMainBlock>
                    <a style="color: black;" [routerLink]="['/']" (click)="onClickMain(1)"> 
                        Главная        
                    </a>
                </ng-template>
                <ng-template #elseMainBlock>
                    <a [routerLink]="['/']" (click)="onClickMain(1)"> 
                        Главная        
                    </a>
                </ng-template>
            <div *ngIf="pageId == 2; then thenRecipesBlock else elseRecipesBlock"></div>
                <ng-template #thenRecipesBlock>
                    <a style="color: black;"  [routerLink]="['/recipes']" (click)="onClickMain(2)"> 
                        Рецепты        
                    </a>
                </ng-template>
                <ng-template #elseRecipesBlock>
                    <a [routerLink]="['/recipes']" (click)="onClickMain(2)"> 
                        Рецепты        
                    </a>
                </ng-template>
            <div *ngIf="pageId == 3; then thenFavoritesBlock else elseFavoritesBlock"></div>
                <ng-template #thenFavoritesBlock>
                    <a style="color: black;" [routerLink]="['/favorites']" (click)="onClickMain(3)"> 
                        Избранное        
                    </a>
                </ng-template>
                <ng-template #elseFavoritesBlock>
                    <a [routerLink]="['/favorites']" (click)="onClickMain(3)"> 
                        Избранное        
                    </a>
                </ng-template>
        </div>
    </div>

    <div *ngIf="buttonAuthState">
        <div class="background-fon">
            <app-authorization class="auth-reg-form" (buttonAuthClick)="closeAuthForm()" (buttonRegClick)="closeAuthForm(); btnRegClick()"></app-authorization>
        </div>
    </div>
    <div *ngIf="buttonRegState">
        <div class="background-fon">
            <app-registration class="auth-reg-form" (buttonRegClick)="closeRegForm()" (buttonAuthClick)="closeRegForm(); btnAuthClick()"></app-registration>
        </div>
    </div>

    <div class="authorise-panel">
        <img src="assets/images/autorise-icon.png">
        <a class="enter-profile" (click)="btnAuthClick()">
            Войти
        </a>
    </div>
</div>
