<div class="header">
    <div class="nav-panel">
        <h1>Recipes</h1>
        <div class="menu">
            <a [routerLink]="['/']"> 
                Главная        
            </a>
            <a [routerLink]="['/recipes']"> 
                Рецепты        
            </a>
            <a [routerLink]="['/favorites']"> 
                Избранное        
            </a>
        </div>
    </div>
    <div class="authorise-panel">
        <img src="assets/images/autorise-icon.png">
        <a class="authorise">
            Войти
        </a>
    </div>
</div>
