<div class="tags-container">
    <button (click)="onSimpleClick()" class="tags-box">
        <img src="assets/images/menu-icon.png">
        <h4>Простые блюда</h4>
        <p *ngIf="isPreviousPageMain()">Время приготовления таких блюд не более 1 часа</p>
    </button>
    <button (click)="onChildClick()" class="tags-box">
        <img src="assets/images/child-icon.png">
        <h4>Детское</h4>
        <p *ngIf="isPreviousPageMain()">Самые полезные блюда которые можно детям любого возраста</p>
    </button>
    <button (click)="onChiefClick()" class="tags-box">
        <img src="assets/images/chef-icon.png">
        <h4>От шеф-поваров</h4>
        <p *ngIf="isPreviousPageMain()">Требуют умения, времени и терпения, зато как в ресторане</p>
    </button>
    <button (click)="onPartyClick()" class="tags-box">
        <img src="assets/images/holiday-icon.png">
        <h4>На праздник</h4>
        <p *ngIf="isPreviousPageMain()">Чем удивить гостей, чтобы все были сыты за праздничным столом</p>
    </button>
</div>
